# .vscode 폴더 내 전부 git 업로드 무시
.vscode/*

# C/C++ 실행 파일 git 업로드 무시
*.exe
*.out

# C/C++ 컴파일 object 파일 업로드 무시
*.o



# python 캐시 무시
manim_project/__pycache__/*
# manim 영상 결과물 업로드 무시
manim_project/media/*